@charset "UTF-8";
@import url("fonts.css");

/* 공통 */
body {font-size:14px; color:#101010; font-family:'Poppins', 'Noto Sans CJK KR'; font-weight:400;}
body, html {height:100%;}
input {font-family:"Noto Sans CJK KR", sans-serif; font-weight:400; outline:0; background:#fff; border:1px solid #ccc; width:calc(100% - 34px); height:40px; line-height:40px; padding:0 16px; font-size:14px; color:#101010;}
input::input-placeholder {font-family:"Noto Sans CJK KR", sans-serif; color:#999; font-size:14px; font-weight:400;}
input::-webkit-input-placeholder {font-family:"Noto Sans CJK KR", sans-serif; color:#999; font-size:14px; font-weight:400;}
input[type="file"] {color:#666; font-size:16px; width:100%; border:none; line-height:normal; height:auto; background:none; padding:0;}
textarea {font-family:"Noto Sans CJK KR", sans-serif; font-weight:400; font-size:14px; color:#101010; border:1px solid #ccc; resize:none; width:100%;}
button {outline:0; border:0 none;}
select {font-family:"Noto Sans CJK KR", sans-serif;}
div[contenteditable=true] {outline:none; border:0 none;}
a {outline:none; -webkit-tap-highlight-color: rgba(0,0,0,0);  -webkit-tap-highlight-color: transparent;}
a:focus {outline:none;}
em {font-style:normal;}
*:focus {outline:none;}
.txtHide {font-size:0; line-height:0; overflow:hidden; text-indent:-9999px;}
.clfix:after {content:''; display:block; clear:both;}
.inner {width:1400px; margin:0 auto;}


/**** main ****/

/* visual */
#wrapper {position:relative; width:100%; overflow:hidden;}
.visual_wrap {position:relative; height:100vh;}
.leftBg, .rightBg {position:absolute; height:100%; width:50%;}
.leftBg {background:#363A5D;}
.rightBg {left:50%; background:#D3D9DD;}
.left_line {position:absolute; left:120px; width:1px; height:100vh; background:#fff; opacity:.5;}
.right_line {position:absolute; right:120px; width:1px; height:100vh; background:#fff; opacity:.5;}
.nav {position:fixed; width:100%; height:100px; z-index:5;}
.logo, .menu {position:absolute; padding:10px; margin-top:10px;}
.logo {left:20px;}
.logo a {font-size:20px; font-weight:700; color:#fff; transition:.3s ease-in-out;}
.logo a .reg {font-size:14px; vertical-align:super;}
.menu_btn {display:none;}
.menu {left:50%; top:30%; transform:translate(-50%, -50%); border:2px solid #fff; border-radius:50px; background:#fff; color:#363A5D; font-weight:500; transition:.3s ease-in-out;}
.menu li {display:inline-block; padding:0 20px;}
.menu li a {position:relative; display:block; padding:5px 0; color:#363a5e; transition:.3s ease-in-out;}
.menu li a:before {content:''; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:0; height:2px; background:#363a5e;transition:.3s ease;}
.menu li a:hover:before, .menu li.on a:before {width:100%;}
.nav.blue .logo a {color:#363A5D;}
.nav.blue .menu {background:#363A5D; border-color:#363A5D;}
.nav.blue .menu li a {color:#fff;}
.nav.blue .menu li a:before {background:#fff;}
.sns_wrap {position:absolute; left:-146px; top:50%; transform:rotate(-90deg); z-index:3;}
.sns_wrap li {display:inline-block; font-weight:500;}
.sns_wrap li:not(:last-child) {margin-right:60px;}
.sns_wrap li a {display:block; color:#fff;}
.product_text {position:absolute; top:50%; left:0; transform:translateY(-50%); width:100%; text-align:center; color:#fff; z-index:2;}
.product_title {font-size:90px; font-weight:400; margin-bottom:30px; letter-spacing:2px;}
.product_subtitle {font-size:19px; font-weight:500;}
.ellipse-container {position:absolute; top:50%; left:50%; width:458px; height:458px; transform:translate(-50%, -50%); border-radius:50%; background:#D3D9DD; z-index:1;}
.ellipse {position:absolute; top:0; border-radius:50%; border-style:solid;}
.ellipse.thin {width:100%; height:100%; border-width:1px; border-color:#494949; opacity:.5;}
.ellipse.thick {top:50%; left:50%; width:93%; height:93%; border-width:10px; border-color:#fdfdfd; transform:translate(-50%, -50%);}
.ellipse.blue {top:6px; left:6px; width:93%; height:93%; border-width:10px; border-color:#363a5e transparent; transform:rotate(-45deg); 
animation:ellipseRotate 15s ease-in-out infinite;}
.circle1, .circle2 {position:absolute; border-style:solid; width:64px; height:64px; border-width:1px; border-color:#D3D9DD; border-radius:50%;}
.circle1 {top:0; left:-155px; color:#fff;}
.circle2 {bottom:0; right:-155px; color:#363A5D; border-color:#363A5D;}
.circle1::before, .circle1::after, .circle2::before, .circle2::after {content:''; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); 
border-radius:50%; display:inline-block;}
.circle1::before, .circle2::before {width:12px; height:12px; background:#fff; z-index:1;}
.circle1::after, .circle2::after {width:40px; height:40px; background:#D3D9DD;}
.circle2::after {background:#363A5D;}
.circle1 span, .circle2 span {position:absolute; top:25px; width:115px; font-size:14px;}
.circle1 span {left:75px;}
.circle2 span {left:-110px;}
@keyframes ellipseRotate {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}
.scroll {position:absolute; bottom:130px; right:7px; transform:rotate(-90deg); font-size:15px; color:#363a5e; line-height:1; letter-spacing:5px;
animation:scroll 2.3s ease-in-out infinite;}
.scroll:before {content:''; position:absolute; top:50%; left:-50px; width:40px; height:1px; background:#363a5e;}
.scroll span {display:inline-block; width:2px; height:2px; border:1px solid #363A5D; opacity:0; animation:onOff 1.5s ease infinite; border-radius:50%;}
.scroll span:nth-of-type(2) {animation-delay:.15s;}
.scroll span:nth-of-type(3) {animation-delay:.3s;}
@keyframes scroll {
    0% {
        bottom:130px;
    }
    50% {
        bottom:110px;
    }
    100% {
        bottom:130px;
    }
}

@keyframes onOff {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

/* about */
.about {padding:200px 0; background:#D3D9DD;}
.about .inner {display:flex; justify-content:center; align-items:center;}
.about .about_img {display:flex; justify-content:end; width:calc(40% - 70px); padding-left:70px; transform:translateX(-200px); transition:.8s ease-in-out; opacity:0; visibility:hidden;}
.about .about_img .img_wrap {width:450px; border:1px solid #444; border-radius:25px; overflow:hidden; box-shadow:0 0 10px rgba(0,0,0,0.7);}
.about .about_img .img_wrap img {width:100%;}
.about .about_txt {width:calc(60% - 140px); word-break:keep-all; padding:0 70px; transform:translateX(200px); transition:.8s ease-in-out; opacity:0; visibility:hidden;}
.about .about_txt h3 {display:block; font-size:22px; color:#363A5D; font-weight:500; line-height:1;}
.about .about_txt h3 span {position:relative; font-weight:700; opacity:.8;}
.about .about_txt h3 span:before {content:''; position:absolute; top:-8px; right:-25px; width:19px; height:19px;
background:url('../images/light.png') no-repeat center / 100%; animation:light 1.3s linear infinite;}
.about .about_txt p {font-size:19px; color:#333; line-height:33px; margin-top:25px;}
.about.on .about_img, .about.on .about_txt {transform:translateX(0); opacity:1; visibility:visible;}
@keyframes light {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

/* career */
.career {position:relative; padding:200px 0;}
.career .tit {position:fixed; top:50%; left:0; transform:translateY(-50%); display:block; text-align:center; width:100%; z-index:-1;
font-size:35px; color:#363A5D; opacity:.5; letter-spacing:20px; font-weight:500; visibility:hidden;}
.career .tit.visa {visibility:visible;}
.career_list {position:relative;}
.career_list:before {content:''; position:absolute; top:50%; left:0; right:0; margin:0 auto; transform:translateY(-50%); width:4px; height:120%; background:#363A5D;}
.career_list li {position:relative;}
.career_list li:before {content:''; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:15px; height:15px;
border:10px solid #D3D9DD; border-radius:50%; background:#fff;}
.career_list li + li {margin-top:100px;}
.career_list li:nth-child(odd) {padding-right:50%; text-align:right;}
.career_list li:nth-child(even) {padding-left:50%;}
.career_list li div {display:inline-block; box-shadow:0 0 10px rgba(0,0,0,.2); border-radius:20px; padding:20px 30px; background:#fff; transform:rotateY(90deg); transition:.4s ease-in-out;}
.career_list li:nth-child(odd) div {margin-right:80px;}
.career_list li:nth-child(even) div {margin-left:80px;}
.career_list li em {display:block; font-size:22px; color:#333; line-height:1; font-weight:700;}
.career_list li p {font-size:15px; color:#777; margin-top:25px;}
.career_list li p span {display:block; font-size:18px; font-weight:500; margin-bottom:5px;}
.career.on .career_list li div {transform:rotateY(0);}
.career.on .career_list li:nth-child(2) div {transition-delay:.3s;}
.career.on .career_list li:last-child div {transition-delay:.6s;}

/* Experience */
.experience {position:relative; background:#363A5D; padding:230px 0;}
.section_line {position:absolute; top:0; left:25%; width:2px; height:100%; background:#5b5e7a; opacity:.5;}
.section_line.mid {left:50%;}
.section_line.right {left:75%;}
.ex_con {position:relative;}
.ex_left {position:absolute; top:350px; left:0; width:calc(35% - 30px); padding-right:30px; color:#fff; word-break:keep-all; 
transform:translateX(-50px); transition:.5s ease-in-out; opacity:0; visibility:hidden;}
.ex_left h3 {font-size:23px; letter-spacing:3px; opacity:.7; font-weight:500;}
.ex_left strong {display:block; font-size:26px; font-weight:500; margin:20px 0 80px;}
.ex_left strong span {font-size:30px; font-weight:700; letter-spacing:2px;}
.ex_left p {font-size:18px; line-height:35px;}
.ex_right {padding-left:35%;}
.main_port {font-size:0;}
.pf_list {position:relative; display:inline-block; vertical-align:top; width:43.5%; margin:100px 11% 0 0; transition:.7s ease-in-out; opacity:0; visibility:hidden;}
.pf_list:nth-child(2n) {top:40px; margin-right:0;}
.pf_list:nth-child(-n+2) {margin-top:0;}
.pf_list:before {content:''; position:absolute; top:60px; left:30px; width:100%; height:86%; background:#5b5f7f; border-radius:20px;}
.pf_list .pf_con {position:relative; border-radius:20px; overflow:hidden;}
.pf_list .pf_img_wr {transform:scale(1); opacity:1; transition:all 1.0s; border-radius:20px; overflow:hidden;}
.pf_list .pf_img_wr img {width:100%;}
.pf_list a {position:relative; display:block; width:100%; height:100%;}
.pf_bg{position:absolute; bottom:0; left:0; width:100%; height:100%; z-index:0; transform:translate(101%, 0); border-radius:20px; overflow:hidden;
-webkit-transition:-webkit-transform .8s cubic-bezier(.19,1,.22,1); transition:-webkit-transform .8s cubic-bezier(.19,1,.22,1); transition:transform .8s cubic-bezier(.19,1,.22,1); transition: transform .8s cubic-bezier(.19,1,.22,1), -webkit-transform .8s cubic-bezier(.19,1,.22,1);}
.pf_bg p{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:90%; color:#fff; font-size:18px; text-align:center; opacity:1; transition: all .2s;}
.pf_bg01{background:#D3D9DD;}
.pf_bg02{background:#1e213b;}
.pf_bg03{background:rgba(0,0,0,1);}
.pf_bg03:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.4);}
.pf_bg03 img{width:100%;}
.char{display:inline-block; transition:transform 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s linear; transition-delay:calc(50ms + (30ms * var(--char-index)) * -1);}
@media (pointer: fine) {
	.pf_list a:hover .pf_img_wr{transform:scale(0.8); opacity:0; transition: all 1.0s;}
	.pf_list a:hover .pf_bg{transform: translate3d(0%, 0, 0);}
	.pf_list a:hover .pf_bg01{transition-delay: .0s;}
	.pf_list a:hover .pf_bg02{transition-delay: .15s;}
	.pf_list a:hover .pf_bg03{transition-delay: .3s;}

	.pf_list a:hover .char{
      transform:translate3d(0, 101%, 0); 
	}
}
.pf_txt {margin-top:20px; word-break:keep-all;}
.pf_txt p {font-size:23px; color:#fff; font-weight:500;}
.pf_txt span {display:block; font-size:16px; color:#ddd; letter-spacing:2px; margin-top:10px;}
.experience.on .ex_left {transform:translateX(0); opacity:1; visibility:visible;}
.pf_list.on {opacity:1; visibility:visible;}

/* contact */
.contact {padding:200px 0 40px; background:#D3D9DD;}
.contact .contact_top h3 {position:relative; display:inline-block; font-size:30px; color:#363A5D; line-height:1;}
.contact .contact_top h3:before {content:''; position:absolute; top:-10px; right:-33px; width:30px; height:30px;
background:url('../images/light2.png') no-repeat center / 100%; animation:light 1.3s linear infinite;}
.contact .contact_top span {display:block; font-size:20px; color:#333; margin-top:30px; line-height:35px;}
.contact .contact_bottom {position:relative; margin-top:100px; display:flex; justify-content:end; padding-bottom:20px;}
.contact .contact_bottom .btm_line {position:absolute; bottom:0; right:0; width:100%; height:2px; background:#363A5D;}
.contact .contact_bottom a {display:block; font-size:18px; color:#363A5D; border-radius:25px; padding:10px 20px;}
.contact .contact_bottom a + a {margin-left:30px;}
.contact .contact_bottom a:hover {box-shadow:0 0 10px rgba(0,0,0,.3); background:#fff;}
.contact .contact_bottom a span {position:relative; display:inline-block; padding-left:25px;}
.contact .contact_bottom a span:before {content:''; position:absolute; top:3px; left:0; width:20px; height:20px; 
background:url('../images/call.png') no-repeat top center / 100%;}
.contact .contact_bottom a.mail span:before {background:url('../images/mail.png') no-repeat top center / 100%;}
.contact .contact_bottom a.kakao span:before {background:url('../images/kakao.png') no-repeat top center / 100%;}
.contact .contact_bottom a.insta span:before {background:url('../images/insta.png') no-repeat top center / 100%;}
.contact .contact_bottom a:hover span:before {opacity:1; animation:shake 1s linear infinite;}
.copyright {font-size:15px; color:#333; text-align:center; margin-top:110px;}
@keyframes shake {
    0% {
        transform:rotate(0);
    }
    30% {
        transform:rotate(-30deg);
    }
    70% {
        transform:rotate(30deg);
    }
    100% {
        transform:rotate(0);
    }
}

/* top_btn */
.top_btn {position: fixed; bottom: 70px; right: 1%; border-radius: 50%; transition: all 1s; z-index: 9999; cursor: pointer; opacity:0; visibility:hidden; transition:.3s ease-in-out;}
.top_btn.on {opacity:1; visibility:visible;}
.top_btn:before {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-30%) rotate(45deg); width:12px; height:12px; 
border-left:2px solid #363A5D; border-top:2px solid #363A5D; z-index:1;}
.top_btn a {position: relative; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; touch-action: none;  display: block; width: 54px; height: 54px; border-radius: 50%; overflow: hidden; background: #D3D9DD; margin: 0 auto; box-shadow: 3px 5px 10px rgba(0,0,0,.18);}
.top_btn a .left-box, .top_btn a .right-box {width: 50%; height: 100%; position: absolute; top: 0; overflow: hidden; z-index: 2; touch-action: none; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; }
.top_btn a .left-box {left:0;}
.top_btn a .right-box {right:0;}
.top_btn a .inner-box {width: 48px; height: 48px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; z-index: 3; -webkit-transition: 0.4s; transition: 0.4s; overflow: hidden; text-indent: -9999px;} 
.top_btn a .box-in {width: 100%; height: 100%; position: absolute; background: #000c74; transform: rotate(0deg); -webkit-transition: 0.2s; transition: 0.2s; overflow: hidden;}
.top_btn a .left-box .box-in {left: 100%; transform-origin: 0 50%;}
.top_btn a .right-box .box-in {right: 100%; transform-origin: 100% 50%;}



@media screen and (min-width:1025px) and (max-width:1449px) {
    .inner {width:calc(100% - 6%); padding:0 3%;}
    
    /* visual */
    .product_title {font-size:85px;}
    .product_subtitle {font-size:17px;}
    .ellipse-container {width:428px; height:428px;}
    .circle1, .circle2 {width:54px; height:54px;}
    .ellipse.blue {top:4px; left:4px;}

    /* about */
    .about .about_img {width:40%; padding-left:0;}
    .about .about_txt {width:calc(60% - 70px); padding-right:0;}

    /* Experience */
    .pf_list:before {height:80%;}
    .ex_left p br {display:none;}
}

/* tablet */
@media screen and (min-width:768px) and (max-width:1024px) {
    .inner {width:calc(100% - 6%); padding:0 3%;}

    /* visual */
    .logo {left:9px;}
    .menu {width:400px;}
    .left_line {left:90px;}
    .right_line {right:90px;}
    .scroll {right:-10px;}
    .sns_wrap {top:auto; bottom:30px; left:27px; transform:rotate(0);}
    .sns_wrap li {display:block;}
    .sns_wrap li:not(:last-child) {margin-right:0;}
    .sns_wrap li + li {margin-top:50px;}
    .sns_wrap li a {width:35px; height:35px; background:#fff url('../images/call.png') no-repeat center / 67%; border-radius:50%;}
    .sns_wrap li:nth-child(2) a {background-image:url('../images/mail.png');}
    .sns_wrap li:nth-child(3) a {background-image:url('../images/kakao.png');}
    .sns_wrap li:nth-child(4) a {background-image:url('../images/insta.png');}
    .sns_wrap li a span {display:none;}
    .product_title {font-size:72px;}
    .ellipse-container {width:550px; height:550px;}
    .ellipse.blue {top:9px; left:9px;}
    .circle1, .circle2 {display:none;}

    /* about */
    .about {padding:150px 0;}
    .about .inner {display:block;}
    .about .about_img {justify-content:center; width:100%; padding-left:0; margin-bottom:70px;}
    .about .about_txt {width:100%; padding:0;}
    .about .about_txt p {font-size:16px; line-height:30px;}

    /* career */
    .career {padding:150px 0;}
    .career_list li:nth-child(odd) div {margin-right:50px;}
    .career_list li:nth-child(even) div {margin-left:50px;}
    .career_list li em {font-size:20px;}
    .career_list li p {font-size:14px;}

    /* experience */
    .experience {padding:150px 0 210px;}
    .ex_left {position:static; width:100%; padding:0;}
    .ex_left h3 {font-size:22px;}
    .ex_right {padding-left:0; margin-top:70px;}
    .ex_left p {font-size:16px; line-height:30px;}
    .pf_list {margin-right:9%;}
    .pf_txt p {font-size:22px;}
    .pf_txt span {margin-top:7px;}

    /* contact */
    .contact {padding:150px 0 30px;}
    .contact .contact_top h3 {font-size:22px;}
    .contact .contact_top span {font-size:16px; line-height:30px;}
    .contact .contact_bottom a {font-size:15px;}
}

/* mobile */
@media screen and (max-width:767px) {
    .inner {width:calc(100% - 6%); padding:0 3%;}

    /* visual */
    .nav {height:60px;}
    .logo {top:7px; left:3%; margin:0; padding:0;}
    .menu_btn {position: absolute; right:3%; top: 30px; transform: translate(0, -50%); display:block; width: 22px; height: 16px; z-index: 99;}
    .menu_btn:before {content: ''; position: absolute; width: 100%; height: 2px; right: 0; top: 0; background: #fff; transform-origin: right top; transition: all 0.5s;}
    .menu_btn span {position: absolute; width: 60%; height: 2px; right: 0; top: 50%; transform: translate(0, -50%); background: #fff; overflow: hidden; text-indent: -999px; transition: all 0.5s;}
    .menu_btn:after {content: ''; position: absolute; width: 100%; height: 2px; right: 0; bottom: 0; background: #fff; transform-origin: right bottom; transition: all 0.5s;}
    .menu_btn.open:before {transform: rotate(-45deg);}
    .menu_btn.open span {opacity: 0;}
    .menu_btn.open:after {transform: rotate(45deg); bottom:-1px;}
    .menu_btn.blue:before, .menu_btn.blue span, .menu_btn.blue:after {background:#363a5e;}
    .menu {top:60px; left:auto; right:-100%; transform:translate(0,0); width:85%; border-radius:25px 0 0 25px;}
    .menu.show {right:0;}
    .menu li {display:block; text-align:right;}
    .menu li a:before {left:auto; right:0; transform:translateY(0);}
    .left_line, .right_line {display:none;}
    .scroll {right:-25px;}
    .sns_wrap {top:auto; bottom:30px; left:27px; transform:rotate(0);}
    .sns_wrap li {display:block;}
    .sns_wrap li:not(:last-child) {margin-right:0;}
    .sns_wrap li + li {margin-top:20px;}
    .sns_wrap li a {width:25px; height:25px; background:#fff url('../images/call.png') no-repeat center / 61%; border-radius:50%;}
    .sns_wrap li:nth-child(2) a {background-image:url('../images/mail.png');}
    .sns_wrap li:nth-child(3) a {background-image:url('../images/kakao.png');}
    .sns_wrap li:nth-child(4) a {background-image:url('../images/insta.png');}
    .sns_wrap li a span {display:none;}
    .product_title {font-size:38px; margin-bottom:0; letter-spacing:0;}
    .product_subtitle {display:none;}
    .ellipse-container {width:308px; height:308px;}
    .ellipse.thick {width:89%; height:89%;}
    .ellipse.blue {top:7px; left:7px; width:89%; height:89%;}
    .circle1, .circle2 {display:none;}

    /* about */
    .about {padding:100px 0;}
    .about .inner {display:block;}
    .about .about_img {justify-content:center; width:calc(100% - 20px); padding:0 10px 0; margin-bottom:50px;}
    .about .about_img .img_wrap {width:100%;}
    .about .about_txt h3 {font-size:18px;}
    .about .about_txt h3 span:before {top:-6px; right:-17px; width:16px; height:16px;}
    .about .about_txt {width:100%; padding:0;}
    .about .about_txt p {font-size:13px; line-height:25px;}

    /* career */
    .career {padding:100px 0;}
    .career_list:before {height:110%;}
    .career .tit {font-size:27px;}
    .career_list:before {left:auto; right:7px;}
    .career_list li + li {margin-top:70px;}
    .career_list li:nth-child(odd) {padding-right:50px;}
    .career_list li:nth-child(even) {padding:0 50px 0 0; text-align:right;}
    .career_list li:before {left:auto; right:-6px; transform:translate(0, -50%); width:10px; height:10px;}
    .career_list li div {width:84%; padding:15px 20px;}
    .career_list li:nth-child(odd) div {margin-right:0;}
    .career_list li:nth-child(even) div {margin-left:0;}
    .career_list li em {font-size:17px;}
    .career_list li p {font-size:13px;}
    .career_list li p span {font-size:15px;}

    /* experience */
    .experience {padding:100px 0;}
    .ex_left {position:static; width:100%; padding:0;}
    .ex_left h3 {font-size:20px;}
    .ex_left strong {font-size:20px; margin:20px 0 50px;}
    .ex_left strong span {font-size:24px;}
    .ex_left p {font-size:13px; line-height:25px;}
    .ex_right {padding-left:0; margin-top:70px;}
    .pf_list {display:block; width:100%; margin:50px 0 0;}
    .pf_list:nth-child(2n) {top:0; margin-right:0;}
    .pf_list:nth-child(-n+2) {margin-top:50px;}
    .pf_list:before {content:none;}
    .pf_txt p {font-size:20px;}
    .pf_txt span {font-size:14px; margin-top:5px;}

    /* contact */
    .contact {padding:100px 0 20px;}
    .contact .contact_top {word-break:keep-all;}
    .contact .contact_top h3 {font-size:20px;}
    .contact .contact_top h3:before {top:-13px; right:-28px; width:25px; height:25px;}
    .contact .contact_top span {font-size:13px; line-height:25px;}
    .contact .contact_bottom {flex-direction:column; margin-top:70px; font-size:0;}
    .contact .contact_bottom a {font-size:13px; box-shadow:0 0 10px rgba(0,0,0,.3); background:#fff; width:48%;
    overflow:hidden; text-overflow:ellipsis;}
    .contact .contact_bottom a + a {margin:10px 2% 0 0;}
    .contact .contact_bottom a span:before {top:1px; width:18px; height:18px; animation:shake 1.5s linear infinite;}
    .copyright {font-size:12px;}
    .top_btn {right:2%; bottom:40px;}
    .top_btn:before {width:8px; height:8px;}
    .top_btn a {width:36px; height:36px;}
    .top_btn a .inner-box {width:31px; height:31px;}
}